@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    box-sizing: border-box;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  body {
    font-family: "Open Sans", sans-serif;
  }
}

@layer components {
  .btn {
    @apply px-6 py-3 border-2 border-primary transition font-semibold inline-block;
    min-width: 160px;
  }

  .btn-primary {
    @apply bg-primary text-white hover:bg-transparent hover:text-primary
  }

  .btn-secondary {
    @apply bg-white text-primary hover:bg-primary hover:text-white
  }
}
